Repository Iterum-Foods/iterum-chef-notebook, changes with the owners that CODEOWNERS names for each.
All owners: @Iterum-Foods/maintainers, @Iterum-Foods/security-team, @Iterum-Foods/backend-team, @Iterum-Foods/frontend-team, @Iterum-Foods/devops-team

CODEOWNERS:

# Global code owners
* @Iterum-Foods/maintainers

# Security-related files require security team review
SECURITY.md @Iterum-Foods/security-team
SECURITY_IMPLEMENTATION_SUMMARY.md @Iterum-Foods/security-team
.github/workflows/security-scan.yml @Iterum-Foods/security-team
.github/workflows/test.yml @Iterum-Foods/security-team
.github/dependabot.yml @Iterum-Foods/security-team

# Authentication and user management
assets/js/unified_auth_system.js @Iterum-Foods/security-team @Iterum-Foods/maintainers
assets/js/security-utils.js @Iterum-Foods/security-team
assets/js/csp-config.js @Iterum-Foods/security-team
assets/js/input-validation.js @Iterum-Foods/security-team
assets/js/api-security.js @Iterum-Foods/security-team

# Backend API and database
app/ @Iterum-Foods/backend-team @Iterum-Foods/security-team
requirements.txt @Iterum-Foods/backend-team

# Frontend core files
assets/js/ @Iterum-Foods/frontend-team
assets/css/ @Iterum-Foods/frontend-team
*.html @Iterum-Foods/frontend-team

# Configuration files
package.json @Iterum-Foods/maintainers
package-lock.json @Iterum-Foods/maintainers
playwright.config.js @Iterum-Foods/maintainers
tailwind.config.js @Iterum-Foods/frontend-team

# Documentation
README.md @Iterum-Foods/maintainers
documentation/ @Iterum-Foods/maintainers

# GitHub workflows and CI/CD
.github/workflows/ @Iterum-Foods/devops-team @Iterum-Foods/security-team
.github/ISSUE_TEMPLATE/ @Iterum-Foods/maintainers

# Tests
tests/ @Iterum-Foods/maintainers
test/ @Iterum-Foods/maintainers

Add intelligent multi-recipe detector - parse 10+ recipes from one file with quality scoring
  assets/js/multi-recipe-detector.js
  bulk-recipe-import.html
Owners: @Iterum-Foods/frontend-team

Add multi-recipe parsing documentation
  MULTI_RECIPE_PARSING_COMPLETE.md
Owners: @Iterum-Foods/maintainers

Add comprehensive summary of today's work - 15+ features, 8,500+ lines of code
  TODAYS_COMPLETE_WORK_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Revert to clean modern dashboard design - remove notebook styling
  index.html
Owners: @Iterum-Foods/frontend-team

FIX: Projects now persist across sign-ins - properly scope to user ID
  assets/js/project-management-system.js
Owners: @Iterum-Foods/frontend-team

Add comprehensive roadmap to ultimate chef's notebook - 22 features prioritized
  ULTIMATE_CHEFS_NOTEBOOK_ROADMAP.md
Owners: @Iterum-Foods/maintainers

Add comprehensive photo management system - recipes, steps, ingredients, equipment
  assets/css/photo-manager.css
  assets/js/photo-manager.js
  recipe-photo-studio.html
Owners: @Iterum-Foods/frontend-team

Add photo studio to dashboard + complete documentation
  PHOTO_MANAGEMENT_SYSTEM_COMPLETE.md
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add beautiful Project Hub with templates, visual cards, and better organization
  PROJECT_MANAGEMENT_ENHANCEMENT.md
  project-hub.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add Project Hub link to dashboard quick actions
  index.html
Owners: @Iterum-Foods/frontend-team

Add user-specific private project creation with color themes and settings
  project-hub.html
Owners: @Iterum-Foods/frontend-team

Transform index page - modern hero, enhanced stats, beautiful quick actions
  assets/css/dashboard-enhanced.css
  index.html
Owners: @Iterum-Foods/frontend-team

Add comprehensive data storage architecture documentation
  DATA_STORAGE_ARCHITECTURE.md
Owners: @Iterum-Foods/maintainers

feat: Complete long-term storage solution - backup manager, backend sync, cloud photos
  .firebase/hosting..cache
  COMPLETE_STORAGE_SOLUTION.md
  LONG_TERM_STORAGE_SOLUTION.md
  ULTIMATE_CHEFS_NOTEBOOK_ROADMAP.md
  app/main.py
  app/routers/ideas_sync.py
  app/routers/menu_sync.py
  app/routers/notes_sync.py
  assets/js/auto-sync-manager.js
  assets/js/backup-manager.js
  assets/js/cloud-photo-manager.js
  data-backup-center.html
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/backend-team, @Iterum-Foods/security-team, @Iterum-Foods/frontend-team

docs: Add deployment summary for long-term storage solution
  LONG_TERM_STORAGE_DEPLOYED.md
Owners: @Iterum-Foods/maintainers

feat: Add comprehensive base ingredients database (100+) with vendor-ingredient connections including brand/farm tracking
  .firebase/hosting..cache
  assets/js/base-ingredients-loader.js
  assets/js/vendor-ingredient-connector.js
  data/base-ingredients-database.json
  ingredients.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

feat: Add vendor-ingredient connector script to ingredients page
  ingredients.html
Owners: @Iterum-Foods/frontend-team

docs: Add comprehensive ingredient database expansion documentation
  INGREDIENT_DATABASE_EXPANSION.md
Owners: @Iterum-Foods/maintainers

feat: Add complete inventory management and production planning systems with integration
  .firebase/hosting..cache
  NEXT_PRIORITY_IMPROVEMENTS.md
  assets/js/inventory-manager.js
  assets/js/production-planner.js
  index.html
  inventory.html
  production-planning.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

docs: Add complete inventory and production management documentation
  INVENTORY_PRODUCTION_COMPLETE.md
Owners: @Iterum-Foods/maintainers

feat: Add comprehensive vendor price comparison system with bulk analysis and optimal vendor mix
  .firebase/hosting..cache
  assets/js/vendor-price-comparator.js
  index.html
  vendor-price-comparison.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

docs: Add vendor price comparison documentation
  VENDOR_PRICE_COMPARISON_COMPLETE.md
Owners: @Iterum-Foods/maintainers

feat: Add central data loader - auto-loads all data on sign-in for instant access
  .firebase/hosting..cache
  assets/js/central-data-loader.js
  index.html
  ingredients.html
  inventory.html
  menu-builder.html
  production-planning.html
  recipe-library.html
  vendor-management.html
  vendor-price-comparison.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

docs: Add central data loader documentation
  CENTRAL_DATA_LOADER_COMPLETE.md
Owners: @Iterum-Foods/maintainers

fix: Update equipment, ingredients, and upload pages to match modern unified header design
  equipment-management.html
  ingredients.html
  recipe-upload.html
Owners: @Iterum-Foods/frontend-team

fix: Add missing auth scripts and central data loader to recipe-upload page
  recipe-upload.html
Owners: @Iterum-Foods/frontend-team

docs: Add UI consistency update documentation
  UI_CONSISTENCY_UPDATE_COMPLETE.md
Owners: @Iterum-Foods/maintainers

Update recipe-library.html to use unified brand kit colors
  public/recipe-library.html
Owners: @Iterum-Foods/frontend-team

Add launch.html to public folder and update Firebase hosting config with rewrite rules
  firebase.json
  public/launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add fooddb.ca URL scraping support for ingredient import with preview and auto-import functionality
  public/assets/js/ingredient-url-scraper.js
  public/bulk-ingredient-import.html
  public/ingredients.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Fix launch.html CSS paths and Firebase rewrite rules for proper site loading
  firebase.json
  public/launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add diagnostic test page and fix root route rewrite
  firebase.json
  public/test-site.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Fix Firestore rules for projects collection and add setup status doc
  FIREBASE_SETUP_STATUS.md
  firestore.rules
Owners: @Iterum-Foods/maintainers

Add project structure improvement plan and quick fixes guide
  QUICK_STRUCTURE_FIXES.md
  STRUCTURE_IMPROVEMENT_PLAN.md
Owners: @Iterum-Foods/maintainers

Disable GitHub Pages deployment - using Firebase Hosting instead
  .github/workflows/deploy.yml
  .github/workflows/disable-pages.yml
Owners: @Iterum-Foods/devops-team, @Iterum-Foods/security-team

Add guide to disable GitHub Pages
  DISABLE_GITHUB_PAGES.md
Owners: @Iterum-Foods/maintainers

Add GitHub improvements: PR template, CONTRIBUTING, LICENSE, Firebase deploy workflow, lint workflow, CHANGELOG, and updated README
  .github/pull_request_template.md
  .github/workflows/firebase-deploy.yml
  .github/workflows/lint.yml
  CHANGELOG.md
  CONTRIBUTING.md
  GITHUB_IMPROVEMENTS_PLAN.md
  LICENSE
  README.md
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/devops-team, @Iterum-Foods/security-team

Add .nojekyll file and urgent instructions to disable GitHub Pages in settings
  DISABLE_GITHUB_PAGES.md
  GITHUB_PAGES_DISABLE_INSTRUCTIONS.md
  public/.nojekyll
Owners: @Iterum-Foods/maintainers

chore: update dependencies
  package-lock.json
Owners: @Iterum-Foods/maintainers
