Repository Iterum-Foods/iterum-chef-notebook, changes with the owners that CODEOWNERS names for each.
All owners: @Iterum-Foods/maintainers, @Iterum-Foods/security-team, @Iterum-Foods/backend-team, @Iterum-Foods/frontend-team, @Iterum-Foods/devops-team

CODEOWNERS:

# Global code owners
* @Iterum-Foods/maintainers

# Security-related files require security team review
SECURITY.md @Iterum-Foods/security-team
SECURITY_IMPLEMENTATION_SUMMARY.md @Iterum-Foods/security-team
.github/workflows/security-scan.yml @Iterum-Foods/security-team
.github/workflows/test.yml @Iterum-Foods/security-team
.github/dependabot.yml @Iterum-Foods/security-team

# Authentication and user management
assets/js/unified_auth_system.js @Iterum-Foods/security-team @Iterum-Foods/maintainers
assets/js/security-utils.js @Iterum-Foods/security-team
assets/js/csp-config.js @Iterum-Foods/security-team
assets/js/input-validation.js @Iterum-Foods/security-team
assets/js/api-security.js @Iterum-Foods/security-team

# Backend API and database
app/ @Iterum-Foods/backend-team @Iterum-Foods/security-team
requirements.txt @Iterum-Foods/backend-team

# Frontend core files
assets/js/ @Iterum-Foods/frontend-team
assets/css/ @Iterum-Foods/frontend-team
*.html @Iterum-Foods/frontend-team

# Configuration files
package.json @Iterum-Foods/maintainers
package-lock.json @Iterum-Foods/maintainers
playwright.config.js @Iterum-Foods/maintainers
tailwind.config.js @Iterum-Foods/frontend-team

# Documentation
README.md @Iterum-Foods/maintainers
documentation/ @Iterum-Foods/maintainers

# GitHub workflows and CI/CD
.github/workflows/ @Iterum-Foods/devops-team @Iterum-Foods/security-team
.github/ISSUE_TEMPLATE/ @Iterum-Foods/maintainers

# Tests
tests/ @Iterum-Foods/maintainers
test/ @Iterum-Foods/maintainers

Document professional landing page deployment and cleanup
  PROFESSIONAL_LANDING_PAGE_DEPLOYED.md
  WAITLIST_INTEGRATION_COMPLETE.md
Owners: @Iterum-Foods/maintainers

Fix waitlist signup - Deploy Firestore security rules
  FIRESTORE_RULES_FIX.md
  firebase.json
  firestore.rules
Owners: @Iterum-Foods/maintainers

Fix login redirect loop - Increase timing delays
  assets/js/auth_guard.js
  launch.html
Owners: @Iterum-Foods/frontend-team

Fix Firestore sync availability in user management
  .firebase/hosting..cache
  assets/js/firestore-sync.js
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add complete integration guide
  COMPLETE_INTEGRATION_GUIDE.md
Owners: @Iterum-Foods/maintainers

Fix all signup/signin methods - consistent timing and verification
  launch.html
Owners: @Iterum-Foods/frontend-team

Critical fix: Force localStorage write completion before redirect
  launch.html
Owners: @Iterum-Foods/frontend-team

Fix Firebase API calls and config loading
  .firebase/hosting..cache
  assets/js/firestore-sync.js
  launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add authentication guard verification documentation
  AUTH_GUARD_VERIFICATION.md
Owners: @Iterum-Foods/maintainers

Fix ES module export syntax errors
  assets/js/firebase-config.js
  assets/js/firestore-sync.js
Owners: @Iterum-Foods/frontend-team

Add deployment automation and testing checklists
  .firebase/hosting..cache
  COMPLETE_TESTING_CHECKLIST.md
  THOROUGH_IMPLEMENTATION_CHECKLIST.md
  deploy_all.bat
  verify_deployment.bat
Owners: @Iterum-Foods/maintainers

Add deployment guide for syntax fix
  DEPLOY_SYNTAX_FIX.md
Owners: @Iterum-Foods/maintainers

Add Firebase reauth and deployment guide
  FIX_FIREBASE_AUTH_AND_DEPLOY.md
Owners: @Iterum-Foods/maintainers

Add comprehensive auth improvement plans and debugging guides
  .firebase/hosting..cache
  BULLETPROOF_AUTH_PLAN.md
  CURRENT_STATUS_SUMMARY.md
  DEBUG_LOGIN_ISSUE.md
  DEPLOYMENT_SUCCESS_VERIFICATION.md
  FORCE_CACHE_CLEAR.md
  e deploy --only hosting
Owners: @Iterum-Foods/maintainers

Add waitlist backend verification guide
  VERIFY_WAITLIST_BACKEND.md
Owners: @Iterum-Foods/maintainers

Add cache clearing instructions and final deployment verification
  .firebase/hosting..cache
  CLEAR_CACHE_INSTRUCTIONS.md
Owners: @Iterum-Foods/maintainers

Fix CRM waitlist loading - Add Firebase SDK and fallback initialization
  contact_management.html
Owners: @Iterum-Foods/frontend-team

Fix CRM to use modular Firestore API (v9+) instead of compat
  contact_management.html
Owners: @Iterum-Foods/frontend-team

Remove obsolete hotfix_auth_crash.js causing app crashes
  .firebase/hosting..cache
  hotfix_auth_crash.js
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Replace all unifiedAuthSystem references with authLite in index.html
  index.html
Owners: @Iterum-Foods/frontend-team

Add WebstaurantStore integration for equipment catalog
  assets/js/webstaurant-integration.js
  equipment-management.html
Owners: @Iterum-Foods/frontend-team

Add beautiful equipment import modal with customization options
  equipment-management.html
Owners: @Iterum-Foods/frontend-team

Add popup sign-in modal for direct page access without redirect
  assets/js/auth_guard.js
Owners: @Iterum-Foods/frontend-team

Enhance sign-up flow from popup modal with direct link to signup tab
  assets/js/auth_guard.js
  launch.html
Owners: @Iterum-Foods/frontend-team

Fix header_user_sync to use authLite instead of obsolete unifiedAuthSystem
  assets/js/header_user_sync.js
Owners: @Iterum-Foods/frontend-team

Add missing userDataManager.js script to index.html
  index.html
Owners: @Iterum-Foods/frontend-team

Make userDataManager non-blocking to prevent page freeze
  DEBUG_INDEX_CRASH.md
  assets/js/userDataManager.js
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add comprehensive Purchase Order system integrating vendors, ingredients, and inventory
  assets/js/ingredientLibrary.js
  assets/js/ordering-system.js
  purchase-orders.html
Owners: @Iterum-Foods/frontend-team

Add Premium UI System - Professional design upgrade for all pages
  .firebase/hosting..cache
  apply-premium-ui.js
  assets/css/premium-ui-system.css
  contact_management.html
  equipment-management.html
  index.html
  ingredients.html
  menu-builder.html
  purchase-orders.html
  recipe-developer.html
  recipe-library.html
  recipe-upload.html
  user_management.html
  vendor-management.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add Premium UI documentation
  PREMIUM_UI_UPGRADE.md
Owners: @Iterum-Foods/maintainers

Add user integration flow analysis and testing page
  INDEX_USER_FLOW_ANALYSIS.md
  test-user-integration.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

CRITICAL FIX: auth_guard now sets window.currentUser on all code paths
  assets/js/auth_guard.js
  test-user-integration.html
Owners: @Iterum-Foods/frontend-team

Add user display troubleshooting guide
  FORCE_USER_UPDATE.md
Owners: @Iterum-Foods/maintainers

feat: Auth System v2.0, Firebase-Backend Integration, and Unified Design System - Production Ready
  .firebase/hosting..cache
  ALL_PAGES_AUTH_UPDATE_COMPLETE.md
  AUTH_SYSTEM_IMPLEMENTATION_SUMMARY.md
  AUTH_SYSTEM_QUICK_TEST_GUIDE.md
  AUTH_SYSTEM_V2_IMPLEMENTATION.md
  COMPLETE_AUTH_INTEGRATION_SUMMARY.md
  COMPLETE_SYSTEM_READY.md
  FIREBASE_BACKEND_INTEGRATION_COMPLETE.md
  FORCE_USER_UPDATE.md
  OLD_AUTH_CLEANUP_COMPLETE.md
  UNIFIED_DESIGN_SYSTEM_COMPLETE.md
  UPDATE_ALL_PAGES_AUTH.md
  app/database.py
  app/main.py
  app/routers/firebase_sync.py
  assets/css/page-layouts.css
  assets/css/unified-header.css
  assets/js/auth-api-helper.js
  assets/js/auth-diagnostics.js
  assets/js/auth-manager.js
  assets/js/auth-ui.js
  assets/js/auth_guard.js
  assets/js/header-user-display.js
  index.html
  ingredients.html
  launch.html
  menu-builder.html
  migrations/005_add_firebase_fields.py
  recipe-developer.html
  recipe-library.html
  templates/shared/auth-modules.html
  templates/shared/auth-scripts.html
  user_management.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/backend-team, @Iterum-Foods/security-team, @Iterum-Foods/frontend-team

fix: Set launch.html as entry point for main site
  firebase.json
Owners: @Iterum-Foods/maintainers

fix: Resolve loading error on index page - remove authLite references and add failsafe loading removal
  index.html
Owners: @Iterum-Foods/frontend-team

docs: Add deployment guides and fix documentation
  .firebase/hosting..cache
  DEPLOYMENT_INSTRUCTIONS.md
  DEPLOY_COMPLETE_GUIDE.md
  INDEX_LOADING_FIX.md
  SITE_STRUCTURE_GUIDE.md
  deploy_to_firebase.bat
Owners: @Iterum-Foods/maintainers

feat: Add Email Verification, Password Reset, and Profile Editing - Auth System 100% Complete
  AUTH_FEATURES_COMPLETE.md
  CURRENT_AUTH_FEATURES.md
  DEPLOYMENT_VERIFICATION_COMPLETE.md
  NEXT_IMPROVEMENTS_ROADMAP.md
  assets/js/auth-manager.js
  assets/js/auth-ui.js
  assets/js/email-verification-banner.js
  assets/js/profile-editor.js
  index.html
  ingredients.html
  launch.html
  menu-builder.html
  recipe-developer.html
  recipe-library.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

docs: Add comprehensive auth system final summary
  AUTH_SYSTEM_FINAL_SUMMARY.md
Owners: @Iterum-Foods/maintainers

fix: Clean up header - remove duplicate user menus and fix overlapping boxes
  .firebase/hosting..cache
  assets/css/unified-header.css
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team
