Repository Iterum-Foods/iterum-chef-notebook, changes with the owners that CODEOWNERS names for each.
All owners: @Iterum-Foods/maintainers, @Iterum-Foods/security-team, @Iterum-Foods/backend-team, @Iterum-Foods/frontend-team, @Iterum-Foods/devops-team

CODEOWNERS:

# Global code owners
* @Iterum-Foods/maintainers

# Security-related files require security team review
SECURITY.md @Iterum-Foods/security-team
SECURITY_IMPLEMENTATION_SUMMARY.md @Iterum-Foods/security-team
.github/workflows/security-scan.yml @Iterum-Foods/security-team
.github/workflows/test.yml @Iterum-Foods/security-team
.github/dependabot.yml @Iterum-Foods/security-team

# Authentication and user management
assets/js/unified_auth_system.js @Iterum-Foods/security-team @Iterum-Foods/maintainers
assets/js/security-utils.js @Iterum-Foods/security-team
assets/js/csp-config.js @Iterum-Foods/security-team
assets/js/input-validation.js @Iterum-Foods/security-team
assets/js/api-security.js @Iterum-Foods/security-team

# Backend API and database
app/ @Iterum-Foods/backend-team @Iterum-Foods/security-team
requirements.txt @Iterum-Foods/backend-team

# Frontend core files
assets/js/ @Iterum-Foods/frontend-team
assets/css/ @Iterum-Foods/frontend-team
*.html @Iterum-Foods/frontend-team

# Configuration files
package.json @Iterum-Foods/maintainers
package-lock.json @Iterum-Foods/maintainers
playwright.config.js @Iterum-Foods/maintainers
tailwind.config.js @Iterum-Foods/frontend-team

# Documentation
README.md @Iterum-Foods/maintainers
documentation/ @Iterum-Foods/maintainers

# GitHub workflows and CI/CD
.github/workflows/ @Iterum-Foods/devops-team @Iterum-Foods/security-team
.github/ISSUE_TEMPLATE/ @Iterum-Foods/maintainers

# Tests
tests/ @Iterum-Foods/maintainers
test/ @Iterum-Foods/maintainers

HOTFIX: Disable authentication system temporarily to fix unresponsive page
  .firebase/hosting..cache
  EMAIL_SYSTEM_IMPLEMENTATION_COMPLETE.md
  FIX_AUTH_CRASH.md
  index.html
  index_simple.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add console logging to launch.html sign-in flow for debugging
  launch.html
Owners: @Iterum-Foods/frontend-team

EMERGENCY FIX: Execute body display immediately without waiting
  index.html
Owners: @Iterum-Foods/frontend-team

Create minimal index page to fix unresponsive issue after 1 minute
  index_minimal.html
  launch.html
Owners: @Iterum-Foods/frontend-team

Add comprehensive authentication test checklist
  AUTHENTICATION_TEST_CHECKLIST.md
Owners: @Iterum-Foods/maintainers

MAJOR FIX: Replace heavy auth system with lightweight non-blocking version
  .firebase/hosting..cache
  AUTHENTICATION_AUDIT_REPORT.md
  FINAL_APP_REVIEW_AND_DEPLOYMENT.md
  assets/js/auth_lite.js
  index.html
  launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add final deployment verification report
  FINAL_DEPLOYMENT_VERIFICATION.md
Owners: @Iterum-Foods/maintainers

Add user profile menu with account management to index.html
  index.html
Owners: @Iterum-Foods/frontend-team

FINAL DEPLOYMENT: Complete app with full authentication and user management
  .firebase/hosting..cache
  COMPLETE_APP_DEPLOYMENT_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Fix user information loading timing on main screen
  index.html
Owners: @Iterum-Foods/frontend-team

Add user information display test guide with debugging steps
  USER_INFO_DISPLAY_TEST.md
Owners: @Iterum-Foods/maintainers

Add comprehensive deployment README with user testing guide
  README_DEPLOYMENT.md
Owners: @Iterum-Foods/maintainers

Fix user info not loading: Add refresh and enhanced logging
  DEPLOYMENT_STATUS.md
  assets/js/auth_lite.js
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add localStorage verification before redirect to fix Guest issue
  .firebase/hosting..cache
  DIAGNOSE_USER_INFO.md
  launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Create clean app_home.html that will NOT freeze and shows user info
  app_home.html
  launch.html
Owners: @Iterum-Foods/frontend-team

Add authentication guard to all main pages - require login for app access
  app_home.html
  assets/js/auth_guard.js
  equipment-management.html
  ingredients.html
  menu-builder.html
  recipe-developer.html
  recipe-library.html
  vendor-management.html
Owners: @Iterum-Foods/frontend-team

Add authentication protection documentation
  AUTH_PROTECTION_COMPLETE.md
Owners: @Iterum-Foods/maintainers

Create comprehensive user management interface
  user_management.html
Owners: @Iterum-Foods/frontend-team

Add user management interface guide
  USER_MANAGEMENT_INTERFACE_GUIDE.md
Owners: @Iterum-Foods/maintainers

Connect Firebase Firestore for cloud user storage
  .firebase/hosting..cache
  FIREBASE_USER_SYNC_STATUS.md
  assets/js/firebase-config.js
  assets/js/firestore-sync.js
  launch.html
  user_management.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add Firestore setup guide and update user management guide
  FIRESTORE_SETUP_GUIDE.md
Owners: @Iterum-Foods/maintainers

CRITICAL SECURITY FIX: Implement proper password validation with Firebase
  launch.html
Owners: @Iterum-Foods/frontend-team

Redirect to main app (index.html) after login + add auth guard
  index.html
  launch.html
Owners: @Iterum-Foods/frontend-team

Add final complete summary of all features and deployment
  FINAL_COMPLETE_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Add Firestore sync to all sign-in methods (Google, Email, Trial)
  launch.html
Owners: @Iterum-Foods/frontend-team

Add step-by-step guide to enable Firestore
  enable-firestore.md
Owners: @Iterum-Foods/maintainers

Add Firestore connection test page
  test_firestore_connection.html
Owners: @Iterum-Foods/frontend-team

Add Firestore enablement guide and test page
  .firebase/hosting..cache
  ENABLE_FIRESTORE_NOW.md
Owners: @Iterum-Foods/maintainers

Add Firestore testing guides
  TEST_FIRESTORE_NOW.md
Owners: @Iterum-Foods/maintainers

Fix auth guard to wait for localStorage save before redirecting
  assets/js/auth_guard.js
Owners: @Iterum-Foods/frontend-team

Add comprehensive contact & user management platform
  .firebase/hosting..cache
  DEPLOYMENT_VERIFICATION_REPORT.md
  QUICK_TEST_GUIDE.md
  RENAME_GITHUB_REPO.md
  contact_management.html
  user_management.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add comprehensive CRM platform guide
  CRM_PLATFORM_GUIDE.md
Owners: @Iterum-Foods/maintainers

Add CRM deployment status verification report
  CRM_DEPLOYMENT_STATUS.md
Owners: @Iterum-Foods/maintainers

Add Firebase project audit tools and documentation
  .firebase/hosting..cache
  CHECK_OLD_PROJECT_INSTRUCTIONS.md
  FIREBASE_PROJECT_AUDIT.md
  check_old_firebase.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Document Firebase project cleanup - iterum-chef-notebook deleted
  FIREBASE_PROJECT_STATUS.md
Owners: @Iterum-Foods/maintainers

Add waitlist system documentation and analysis tools
  WAITLIST_SYSTEM_GUIDE.md
  check_waitlist.py
Owners: @Iterum-Foods/maintainers

Add documentation for separate waitlist repository
  WAITLIST_REPOSITORIES.md
Owners: @Iterum-Foods/maintainers

Complete waitlist-to-CRM integration
  WAITLIST_CRM_INTEGRATION.md
  contact_management.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Document successful landing page deployment
  WEBSITE_DEPLOYMENT_COMPLETE.md
Owners: @Iterum-Foods/maintainers

Remove old landing page - now in Iterumwebsite repo
  landing_page.html
Owners: @Iterum-Foods/frontend-team
