Repository Iterum-Foods/iterum-chef-notebook, changes with the owners that CODEOWNERS names for each.
All owners: @Iterum-Foods/maintainers, @Iterum-Foods/security-team, @Iterum-Foods/backend-team, @Iterum-Foods/frontend-team, @Iterum-Foods/devops-team

CODEOWNERS:

# Global code owners
* @Iterum-Foods/maintainers

# Security-related files require security team review
SECURITY.md @Iterum-Foods/security-team
SECURITY_IMPLEMENTATION_SUMMARY.md @Iterum-Foods/security-team
.github/workflows/security-scan.yml @Iterum-Foods/security-team
.github/workflows/test.yml @Iterum-Foods/security-team
.github/dependabot.yml @Iterum-Foods/security-team

# Authentication and user management
assets/js/unified_auth_system.js @Iterum-Foods/security-team @Iterum-Foods/maintainers
assets/js/security-utils.js @Iterum-Foods/security-team
assets/js/csp-config.js @Iterum-Foods/security-team
assets/js/input-validation.js @Iterum-Foods/security-team
assets/js/api-security.js @Iterum-Foods/security-team

# Backend API and database
app/ @Iterum-Foods/backend-team @Iterum-Foods/security-team
requirements.txt @Iterum-Foods/backend-team

# Frontend core files
assets/js/ @Iterum-Foods/frontend-team
assets/css/ @Iterum-Foods/frontend-team
*.html @Iterum-Foods/frontend-team

# Configuration files
package.json @Iterum-Foods/maintainers
package-lock.json @Iterum-Foods/maintainers
playwright.config.js @Iterum-Foods/maintainers
tailwind.config.js @Iterum-Foods/frontend-team

# Documentation
README.md @Iterum-Foods/maintainers
documentation/ @Iterum-Foods/maintainers

# GitHub workflows and CI/CD
.github/workflows/ @Iterum-Foods/devops-team @Iterum-Foods/security-team
.github/ISSUE_TEMPLATE/ @Iterum-Foods/maintainers

# Tests
tests/ @Iterum-Foods/maintainers
test/ @Iterum-Foods/maintainers

Add comprehensive GitHub security setup automation
  GITHUB_SECURITY_SETUP.md
  scripts/quick-security-setup.ps1
  scripts/setup-github-security.ps1
  scripts/setup-security.bat
  scripts/verify-security-setup.ps1
Owners: @Iterum-Foods/maintainers

Implement mandatory authentication protection
  assets/js/page-protection.js
  assets/js/unified_auth_system.js
Owners: @Iterum-Foods/frontend-team

Fix unresponsive page issue
  assets/js/unified_auth_system.js
Owners: @Iterum-Foods/frontend-team

Fix missing authentication system initialization
  index.html
  menu-builder.html
Owners: @Iterum-Foods/frontend-team

Fix critical authentication and page protection errors
  .firebase/hosting..cache
  .firebaserc
  FIREBASE_DEPLOYMENT_GUIDE.md
  assets/js/unified_auth_system.js
  firebase.json
  index.html
  menu-builder.html
  tatus
  y/index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Fix unresponsive page issue - simplify initialization
  assets/js/unified_auth_system.js
Owners: @Iterum-Foods/frontend-team

Week 1 Testing: Fix authentication initialization across all pages
  .firebase/hosting..cache
  WEEK1_TESTING_CHECKLIST.md
  equipment-management.html
  ingredients.html
  recipe-developer.html
  recipe-library.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Week 1 Testing: Recipe features testing and documentation
  .firebase/hosting..cache
  WEEK1_RECIPE_TESTING.md
Owners: @Iterum-Foods/maintainers

Week 1 Testing: Project management testing and documentation
  WEEK1_PROJECT_TESTING.md
Owners: @Iterum-Foods/maintainers

Week 1 Testing: Cross-page sync testing and documentation
  WEEK1_CROSS_PAGE_SYNC_TESTING.md
Owners: @Iterum-Foods/maintainers

Add Week 1 testing readiness documentation
  WEEK1_READY_FOR_TESTING.md
Owners: @Iterum-Foods/maintainers

Fix unresponsive page loading issue
  .firebase/hosting..cache
  assets/js/unified_auth_system.js
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add Firebase sign-in/sign-up popup with email/password support
  .firebase/hosting..cache
  assets/js/firebase-auth-ui.js
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Phase 1 Testing: Fix Firebase auth method naming and add test page
  .firebase/hosting..cache
  PHASE1_TESTING_PLAN.md
  assets/js/firebase-auth.js
  test_auth_system.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add comprehensive authentication flow test page
  test_auth_flow.html
Owners: @Iterum-Foods/frontend-team

Phase 1 Testing: Add recipe management test page and testing report
  PHASE1_TESTING_REPORT.md
  test_recipe_management.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Phase 1 Progress: 60% complete with comprehensive testing infrastructure
  PHASE1_PROGRESS_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Phase 1 Progress: 60% complete with comprehensive testing infrastructure
  .firebase/hosting..cache
Owners: @Iterum-Foods/maintainers

Add comprehensive project management test page
  test_project_management.html
Owners: @Iterum-Foods/frontend-team

Add comprehensive cross-page synchronization test
  test_cross_page_sync.html
Owners: @Iterum-Foods/frontend-team

Phase 1 COMPLETE: 90% success with comprehensive testing infrastructure
  PHASE1_COMPLETION_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Phase 2: User Experience Polish - Mobile & Cross-Browser Testing
  PHASE2_TESTING_PLAN.md
  test_cross_browser_compatibility.html
  test_mobile_responsiveness.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Phase 2 Status: 30% complete with comprehensive testing infrastructure
  PHASE2_STATUS_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Phase 3: Beta Testing & Launch Preparation
  PHASE3_TESTING_PLAN.md
  test_beta_testing.html
  test_launch_readiness.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Phase 3 Status: 40% complete with comprehensive testing infrastructure
  PHASE3_STATUS_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Phase 3: Comprehensive Testing Infrastructure Complete
  PHASE3_EXECUTION_PLAN.md
  PHASE3_EXECUTION_REPORT.md
  test_cross_browser_comprehensive.html
  test_mobile_comprehensive.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Phase 3: 80% Complete - Comprehensive Testing Infrastructure Ready
  PHASE3_FINAL_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Phase 4: Final Launch Preparation - Complete Testing Infrastructure
  PHASE4_LAUNCH_PREPARATION_PLAN.md
  test_beta_user_execution.html
  test_final_optimization_launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Phase 4: 60% Complete - Final Launch Preparation Infrastructure Ready
  PHASE4_STATUS_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Menu Creation Workflow Analysis & Improvements
  MENU_CREATION_WORKFLOW_ANALYSIS.md
  assets/js/unified-menu-creator.js
  menu-builder-improved.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

Add authentication diagnostic test page to troubleshoot sign-in issues
  MENU_WORKFLOW_IMPROVEMENTS_SUMMARY.md
  test_auth_diagnostic.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

HOTFIX: Fix authentication system crash at sign-in screen
  hotfix_auth_crash.js
  index.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/frontend-team

EMERGENCY FIX: Add emergency access page and bypass for crashing authentication
  emergency_fix_index.html
  index.html
Owners: @Iterum-Foods/frontend-team

Create comprehensive professional launch page with working authentication
  launch.html
Owners: @Iterum-Foods/frontend-team

Add comprehensive launch page test plan and complete all testing
  LAUNCH_PAGE_TEST_PLAN.md
Owners: @Iterum-Foods/maintainers

Complete launch page project with comprehensive summary - Mission Accomplished!
  LAUNCH_PAGE_COMPLETE_SUMMARY.md
Owners: @Iterum-Foods/maintainers

Replace guest access with 14-day free trial + user tracking
  launch.html
  trial_dashboard.html
Owners: @Iterum-Foods/frontend-team

Add comprehensive trial system implementation documentation
  TRIAL_SYSTEM_IMPLEMENTATION.md
Owners: @Iterum-Foods/maintainers

Add comprehensive user and email management guide
  USER_EMAIL_MANAGEMENT_GUIDE.md
Owners: @Iterum-Foods/maintainers

Implement complete email system for trial users
  .firebase/hosting..cache
  EMAIL_SETUP_GUIDE.md
  app/main.py
  app/routers/trial.py
  app/services/email_service.py
  env.template
  launch.html
Owners: @Iterum-Foods/maintainers, @Iterum-Foods/backend-team, @Iterum-Foods/security-team, @Iterum-Foods/frontend-team
